<aside>
  {% unless about_card == false %}
  <div class="card">
    <div class="card__thumbnail">
      <a href="/about">
        <img class="card__thumbnail__img" src="{{ 'img/uno.png' | prepend: site.asseturl }}">
      </a>
    </div>	
    <div class="card__content">
      <p class="card__title">About</p>
      <p>
	  {{ site.description }}
      </p>
    </div>
  </div>
  {% endunless %}
  
  <div class="card">
    <h3 class="card__title">Recent Posts</h3>	
    <div class="card__content">
      <ul class="tree">
	{% for recent in site.posts limit:3 %}
	<li><a class="tree__link" href="{{ recent.url }}">{{ recent.title }}</a></li>
	{% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="card">
    <h3 class="card__title">Archives</h3>	
    <div class="card__content">
      <ul class="tree">
	{% for post in site.posts %}
	{% unless post.next %}
	<p class="tree__subtitle">{{ post.date | date: '%Y %b' }}</p>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
	{% if year != nyear %}
	<p class="tree__subtitle">{{ post.date | date: '%Y %b' }}</p>
	{% endif %}
	{% endunless %}

	<li class="tree__list"><a class="tree__link" href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
      </ul>	    
    </div>
  </div>
</aside>
