{% assign topbar_active = page.topbar_active %}

<header>

  <nav class="max-w-3xl mx-auto px-6 flex items-center mb-8">
      <a class="flex-none text-lg font-semibold bg-teal-700 hover_bg-teal-800 px-3 pb-2 pt-3 text-white rounded-br-lg rounded-bl-lg" href="/">
        Murih Pusparum
      </a>

	<ul class="flex-1 flex justify-end items-center text-gray-600">
	  <li class="mx-2">
	    <a class="hover_text-teal-800 {% if topbar_active == 'home' %}{{ 'text-teal-800 font-semibold' }}{% endif %}" href="/">Home</a>
	  </li>
	  <li class="mx-2">
	    <a class="hover_text-teal-800 {% if topbar_active == 'travelling' %}{{ 'text-teal-800 font-semibold' }}{% endif %}" href="/category/travelling/">Travelling</a>
	  </li>
	  <li class="mx-2">
	    <a class="hover_text-teal-800 {% if topbar_active == 'daily_life' %}{{ 'text-teal-800 font-semibold' }}{% endif %}" href="/category/daily_life/">Daily Life</a>
	  </li>	  	  
	</ul>
  </nav>

</header>
