---
layout: default
---
<main class="mb-12 text-gray-800">
<h1 class="text-lg mb-5">
	Semua artikel dengan kategori <span class="bg-teal-200">{{ page.category }}</span>
</h1>
    <ul>
      {% for post in site.categories[page.category] %}
      <li class="mb-4">
	<article class="flex">
	{% if post.feature_image %}
	<div class="flex-none w-48">
          <a href="{{ post.url }}">
            <img src="{{ post.feature_image | prepend: 'img/' | prepend: site.asseturl }}">
	  </a>
	</div>
	{% endif %}
	<div class="flex-1 pl-4">
	  <a href="{{ post.url }}">
            <h2 class="font-semibold text-lg leading-none mb-1 hover_underline">{{ post.title }}</h2>
	  </a>
	  <p class="mb-1">{{ post.content | strip_html | truncatewords: 30 }}</p>
	  <div class="flex">
		  <span class="flex-none text-gray-500 text-sm mr-2">{{ post.date | date: "%d %B %Y" }}</span>
	  {% if post.tags %}
	  <span class="flex-1 flex">
          {% for tag in post.tags %}
          <a class="mr-1 text-sm text-teal-600 hover_text-teal-800" href="{{ "/tag/" | prepend: site.baseurl | append: tag | append: "/" | downcase }}">#{{ tag }}</a>
          {% endfor %}
	  </span>
	  {% endif %}
	  </div>
	</div>
	</article>
      </li>
      {% endfor %}
</ul>
</main>
