---
layout: default
---
{% assign about_card = false %}
<div class="row row-full--mobile row-full--tablet">
  <div class="gr-9 gr-12--mobile gr-12--tablet no-gutter--mobile no-gutter--tablet">
  <article class="post card" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="post__body" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
  </div>

  <div class="gr-3 hide--mobile hide--tablet">
    {% include aside.html %}
  </div>
</div>
