---
layout: default
---
{% assign about_card = false %}
<div class="mb-12">
  <main>
  <article itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      <div class="flex mb-1">
	<span class="flex-1 flex">
          {% for tag in page.tags %}
          <a class="mr-1 text-teal-600 hover_text-teal-800" href="{{ "/tag/" | prepend: site.baseurl | append: tag | append: "/" | downcase }}">#{{ tag }}</a>
          {% endfor %}
	</span>
      </div>      
      <h1 class="text-3xl md_text-5xl md_leading-tight md_mb-4 mb-2 font-bold" itemprop="name headline">{{ page.title }}</h1>
      <div class="flex-none mb-6">
	<span class="text-gray-500 text-sm mr-1">{{ page.date | date: "%-d %B %Y" }}</span>
      </div>

      {% if page.feature_image %}
      <div class="mb-8">
	<img src="{{ page.feature_image | prepend: 'img/' | prepend: site.asseturl }}">
      </div>
      {% endif %}

    </header>

    <div class="text-lg text-gray-800 leading-relaxed" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
  {% if page.comment %}
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://murih-pusparum.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}                         
  </main>
  <div class="mt-8">
  {% include aside.html %}
  </div>
</div>
