---
layout: default
---
{% assign about_card = false %}
<div class="row row-full--tablet row-full--mobile">
  <div class="gr-9 gr-12--tablet gr-12--mobile">
  <article class="post card" itemscope itemtype="http://schema.org/BlogPosting">

    <header>
      {% if page.feature_image %}
      <div class="card__thumbnail">
	<img class="card__thumbnail__img" src="{{ page.feature_image | prepend: 'img/' | prepend: site.asseturl }}">
      </div>
      {% endif %}
      <div class="card-info u-mg-btm--small">
	<span class="card-info__date"><i class="i-calendar"></i>&nbsp;&nbsp;{{ page.date | date: "%b %-d, %Y" }}</span>
	<span class="card-info__tags">
          {% for tag in page.tags %}
          <a class="tag" href="{{ "/tag/" | prepend: site.baseurl | append: tag | append: "/" | downcase }}">{{ tag }}</a>
          {% endfor %}
	</span>
      </div>      
      <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="post__body" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
  {% if page.comment %}
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://murih-pusparum.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}                         
  </div>

  <div class="gr-3 hide--tablet hide--mobile">
    {% include aside.html %}
  </div>
</div>
