---
layout: default
---
<div class="row row-full--mobile row-full--tablet">
    <div class="gr-12">
<h1 class="u-text--large u-mg-btm--medium">
  Tag for '{{ page.tag }}'
</h1>
    </div>
</div>
<div class="row row-full--mobile row-full--tablet">
  {% for post in site.tags[page.tag] %}
  <div class="gr-3 gr-12--mobile gr-12--tablet">
    {% if post.feature_image %}
    {% include card-with-thumbnail.html %}
    {% else %}
    {% include card.html %}
    {% endif %}
  </div>
  {% endfor %}
</div>
